:80 {
  handle /health {
    reverse_proxy backend:8000
  }
  handle {
    respond 404
  }
}

api.smartapply.az {
  encode gzip
  handle /api/* {
    reverse_proxy backend:8000
  }
  handle /health {
    reverse_proxy backend:8000
  }
  handle {
    respond 404
  }
}
